<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable = no">
    <title>&raquo; Contact | OrkoHunter</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 head">Himanshu Mishra</div>
            <div id="tabs" style="text-align: center;">
                <a class="tab" href="/">About</a>
                <a class="tab" href="/projects">Software</a>
                <a class="tab" href="/values">Values</a>
                <a class="tab" href="/blog">Blog</a>
                <a class="tab" href="/mfdf">Fortunes</a>
                <a class="highlighted-tab" href="/contact">Contact</a>
                <div style="margin-top: 40px" class="divider col s10 offset-s1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col s11 offset-s1 doc">
        Himanshu loves to hear from people via email. Drop him a message at <a style="color:blue" href="mailto:himanshumishra@iitkgp.ac.in">himanshumishra@iitkgp.ac.in</a>
      </div>
      <div class="col s11 offset-s1 doc">
        Or maybe try out his <a style="color:blue" href="/abwid">personal assistant</a> !
      </div>
      <div class="col s11 offset-s1 doc">
        His resume can be found <a style="color:blue" href="/static/files/resume.pdf">here</a>.
      </div>

        </div>

        <div class="row" style="margin-top:250px">
            <div class="col s10 offset-s1 divider"></div>
        </div>

        <div class="row">
            <div class="col s8 offset-s5">
                <a href="https://github.com/OrkoHunter" target="_blank"><i class="fa fa-github fa-1x"></i></a>
                <a href="https://twitter.com/OrkoHunter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
                <a href="https://www.facebook.com/Mr.HimanshuMishra" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
                <a href="https://medium.com/@orkohunter" target="_blank"><i class="fa fa-medium fa-1x"></i></a>
                <a href="mailto:himanshumishra@iitkgp.ac.in" target="_blank"><i class="fa fa-envelope-o fa-1x"></i></a>
            </div>
        </div>
    </div>

</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/main.css')}}">
</html>


