<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/main.css')}}">
    <meta name="viewport" content="user-scalable = no">
    <title>Himanshu Mishra | OrkoHunter</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 head">Himanshu Mishra</div>
            <div class="col s1 offset-s1 highlighted-tab" style="margin-left:120px;"><a href="/">About</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="/projects">Software</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="https://medium.com/@OrkoHunter/">Blog</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="https://tlsiitkgp.org/">Literary</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="/contact">Contact</a></div>
            <div class="col s10 offset-s1 divider"></div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1 doc">
                Himanshu is currently an undergraduate student studying at Indian Institute of Technology Kharagpur, India. He is majoring in Mathematics and Computing and will hopefully graduate in 2019.<br><br>
                Although being a profound Pythonista, he is a budding software developer with an increasing stack of
                technology.
            </div>
        </div>

        <div class="row" style="margin-top:250px">
            <div class="col s10 offset-s1 divider"></div>
        </div>

        <div class="row">
            <div class="col s8 offset-s5">
                <a href="https://github.com/OrkoHunter" target="_blank"><i class="fa fa-github fa-1x"></i></a>
                <a href="https://twitter.com/OrkoHunter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
                <a href="https://www.facebook.com/Mr.HimanshuMishra" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
                <a href="mailto:himanshumishra@iitkgp.ac.in" target="_blank"><i class="fa fa-envelope-o fa-1x"></i></a>
            </div>
        </div>
    </div>

</body>
</html>
