<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="title" content="Himanshu Mishra | OrkoHunter">
  <meta name="description" content="Personal website of Himanshu Mishra (OrkoHunter)">
  <meta name="keywords" content="Himanshu, Mishra, Himanshu Mishra, OrkoHunter, GitHub, PEP8Speaks, Keep">

  <meta name="og:title" content="Himanshu Mishra | OrkoHunter">
  <meta name="og:url" content="https://orkohunter.net">
  <meta name="og:image" content="https://avatars2.githubusercontent.com/u/8065913?v=3&s=460">
  <meta name="og:description" content="Personal Website of Himanshu Mishra">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv='Expires' content='0'>
  <meta http-equiv='Pragma' content='no-cache'>
  <meta http-equiv='Cache-Control' content='no-cache'>
  <meta http-equiv='imagetoolbar' content='no'>

  <title>&raquo; Inspirations | OrkoHunter</title>

  <style type="text/css">
    .doc {
      display: inline;
    }
    .people {
      position: relative;
    }
    .people::after {
      content: ' ✨ \a';
      white-space: pre;
    }
    .people::before {
      content: ' ✨ ';
      height: 100px;
    }
    .media::after {
      content: '\a';
      white-space: pre;
    }
    .media::before {
      content: '';
    }
  </style>
</head>
<body>

  <div class="top">
    <div class="head">Himanshu Mishra</div>
    <div class="tabs">
      <a class="tab" href="/">About</a>
      <a class="tab" href="/projects">Software</a>
      <a class="tab highlighted" href="/values">Values</a>
      <a class="tab" href="/blog">Blog</a>
      <a class="tab" href="/mfdf">Fortunes</a>
      <a class="tab" href="/contact">Contact</a>
    </div>
    <div class="divider"></div>

    <div class="doc">
      <h2>People</h2>
      <span style="font-size: 0.9em">I am deeply influenced by these people, their works and/or their beliefs.</span><br>
      <a class="people" target="_blank" href="https://github.com/mitsuhiko">Armin Ronacher</a>
      <a class="people" target="_blank" href="https://en.wikipedia.org/wiki/Barack_Obama">Barack Obama</a>
      <a class="people" target="_blank" href="https://www.gatesnotes.com">Bill Gates</a>
      <a class="people" target="_blank" href="https://twitter.com/gvanrossum">Guido van Rossum</a>
      <a class="people" target="_blank" href="https://github.com/kennethreitz">Kenneth Reitz</a>
      <a class="people" target="_blank" href="https://github.com/sindresorhus">Sindre Sorhus</a>
      <a class="people" target="_blank" href="https://github.com/debugger22">Sudhanshu Mishra</a>
      <a class="people" target="_blank" href="http://www.amrav.net/">Vikrant Varma</a>

      <h2>Things</h2>
      <a class="media" target="_blank" href="https://www.youtube.com/watch?v=gM95HHI4gLk">[ Video ] Ted talk by Sal Khan from Khan Academy about his thoughts on the current education system</a>
      <a class="media" target="_blank" href="https://qz.com/431397/i-sacrificed-my-health-and-teenage-years-to-study-at-the-iits-but-was-it-worth-it/">[ Article ] A retrospection of life spent at IIT</a>
      <a class="media" target="_blank" href="http://neopythonic.blogspot.in/2016/04/kings-day-speech.html">[ Article ] The heart-felt speech by Guido on creating Python and its preset day influences</a>
      <a class="media" target="_blank" href="https://medium.com/@thatdavidhopkins/how-a-tv-sitcom-triggered-the-downfall-of-western-civilization-336e8ccf7dd0">[ Article ] How a TV Sitcom triggered the downfall of western civilization</a>
	    <a class="media" target="_blank" href="https://www.youtube.com/watch?v=gpvcc9C8SbM">[ Video ] Internet's Own Boy - The Story of Aaron Swartz Full Documentary</a>
	    <a class="media" target="_blank" href="https://www.youtube.com/watch?v=DjffIi2Pl7M">[ Video ] Rise - Dark Knight Rises</a>
      <a class="media" target="_blank" href="http://www.catb.org/esr/faqs/hacker-howto.html">[ Article ] How to Become a hacker - Eric S. Raymond</a>
      <a class="media" target="_blank" href="https://gist.github.com/adamwiggins/5687294">[ Article ] Values by Heroku co-founder Adam Wiggins</a>
      <a class="media" target="_blank" href=""></a>
    </div>

  </div>
  <div class="bottom">
    <div class="divider"></div>

    <div class="social">
      <a href="https://github.com/OrkoHunter" target="_blank"><i class="fa fa-github fa-1x"></i></a>
      <a href="https://twitter.com/OrkoHunter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
      <a href="https://www.facebook.com/Mr.HimanshuMishra" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
      <a href="https://medium.com/@orkohunter" target="_blank"><i class="fa fa-medium fa-1x"></i></a>
      <a href="mailto:himanshumishra@iitkgp.ac.in" target="_blank"><i class="fa fa-envelope-o fa-1x"></i></a>
    </div>
  </div>


</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/main.css')}}">
</html>
