<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>&raquo; Inspirations | OrkoHunter</title>
  <style type="text/css">
    .doc {
      display: inline;
    }
    .people::after {
      content: ' ✨ \a';
      white-space: pre;
    }
    .people::before {
      content: ' ✨ ';
    }
    .media::after {
      content: '\a';
      white-space: pre;
    }
    .media::before {
      content: '';
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col s12 head">Himanshu Mishra</div>
      <div id="tabs" class="col s10 offset-s1">
        <a class="tab" href="/">About</a>
        <a class="tab" href="/projects">Software</a>
        <a class="highlighted-tab" href="/values">Values</a>
        <a class="tab" href="/blog">Blog</a>
        <a class="tab" href="/mfdf">Fortunes</a>
        <a class="tab" href="/contact">Contact</a>
      </div>
      <div class="divider col s10 offset-s1"></div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1 doc">
        <h5>People</h5>
        <span style="font-size: 0.9em">I am deeply influenced by these people, their works and/or their beliefs.</span><br>
        <a class="people" target="_blank" href="https://github.com/mitsuhiko">Armin Ronacher</a>
        <a class="people" target="_blank" href="https://en.wikipedia.org/wiki/Barack_Obama">Barack Obama</a>
        <a class="people" target="_blank" href="https://www.gatesnotes.com">Bill Gates</a>
        <a class="people" target="_blank" href="https://twitter.com/gvanrossum">Guido van Rossum</a>
        <a class="people" target="_blank" href="https://github.com/kennethreitz">Kenneth Reitz</a>
        <a class="people" target="_blank" href="https://github.com/sindresorhus">Sindre Sorhus</a>
        <a class="people" target="_blank" href="https://github.com/debugger22">Sudhanshu Mishra</a>
        <a class="people" target="_blank" href="http://www.amrav.net/">Vikrant Varma</a>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1 doc">
        <h5>Things</h5>
        <a class="media" target="_blank" href="https://www.youtube.com/watch?v=gM95HHI4gLk">[ Video ] Ted talk by Sal Khan from Khan Academy about his thoughts on the current education system</a>
        <a class="media" target="_blank" href="https://qz.com/431397/i-sacrificed-my-health-and-teenage-years-to-study-at-the-iits-but-was-it-worth-it/">[ Article ] A retrospection of life spent at IIT</a>
        <a class="media" target="_blank" href="http://neopythonic.blogspot.in/2016/04/kings-day-speech.html">[ Article ] The heart-felt speech by Guido on creating Python and its preset day influences</a>
        <a class="media" target="_blank" href="https://medium.com/@thatdavidhopkins/how-a-tv-sitcom-triggered-the-downfall-of-western-civilization-336e8ccf7dd0">[ Article ] How a TV Sitcom triggered the downfall of western civilization</a>
	<a class="media" target="_blank" href="https://www.youtube.com/watch?v=gpvcc9C8SbM">[ Video ] Internet's Own Boy - The Story of Aaron Swartz Full Documentary</a>
        <a class="media" target="_blank" href=""></a>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1 divider"></div>
    </div>

    <div class="row">
      <div class="col s8 offset-s5">
        <a href="https://github.com/OrkoHunter" target="_blank"><i class="fa fa-github fa-1x"></i></a>
        <a href="https://twitter.com/OrkoHunter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
        <a href="https://www.facebook.com/Mr.HimanshuMishra" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
        <a href="https://medium.com/@orkohunter" target="_blank"><i class="fa fa-medium fa-1x"></i></a>
        <a href="mailto:himanshumishra@iitkgp.ac.in" target="_blank"><i class="fa fa-envelope-o fa-1x"></i></a>
      </div>
    </div>
  </div>

</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/main.css')}}">
</html>
