<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/main.css')}}">
    <meta name="viewport" content="user-scalable = no">
    <title>&raquo; Software | OrkoHunter</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 head">Himanshu Mishra</div>
            <div class="col s1 offset-s1 tab" style="margin-left:120px;"><a style="color: rgba(0, 0, 0, 0.6);" href="/">About</a></div>
            <div class="col s2 highlighted-tab"><a href="/projects">Software</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="http://blog.orkohunter.net/">Blog</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="http://blog.orkohunter.net/tag/literary">Literary</a></div>
            <div class="col s2 tab"><a style="color: rgba(0, 0, 0, 0.6);" href="/contact">Contact</a></div>
            <div class="col s10 offset-s1 divider"></div>
        </div>

        <div class="row">
            <pre style="padding-left: 35%; padding-top: 2%;">Primary OS - macOS 10.12 Sierra <br>Secondary  - Xubuntu 16.04.1 LTS<br>VPS        - Ubuntu 16.04.1 LTS<br><br></pre>

            <!-- Personal Projects Left Column -->
            <div class="col s5 offset-s1">
                <!-- ping-me -->
                <div class="p-name">ping-me</div>
                <div class="p-desc">A cross-platform personalized Ping</div>
                <pre class="p-links">Home  - <a href="http://ping-me.in" target="_blank">ping-me.in</a><br>Github - <a href="https://github.com/orkohunter/ping-me" target="_blank">orkohunter/ping-me</a><br>              <a href="https://github.com/orkohunter/ping-me-tornado" target="_blank">orkohunter/ping-me-tornado</a><br>              <a href="https://github.com/orkohunter/ping-me-extension" target="_blank">orkohunter/ping-me-extension</a></pre>

                <div class="divider"></div>

                <!-- depends -->
                <div class="p-name">Depends</div>
                <div class="p-desc">Analyze dependencies of a python package</div>
                <pre class="p-links">Home  - <a href="http://orkohunter.net/depends" target="_blank">orkohunter.net/depends</a><br>Github - <a href="https://github.com/orkohunter/depends" target="_blank">orkohunter/depends</a><br><br><br></pre>

                <div class="divider"></div>

                <!-- Potterscript -->
                <div class="p-name">Potterscript</div>
                <div class="p-desc">A language similar to Muggle's Python </div>
                <pre class="p-links">Home  - <a href="http://orkohunter.net/potterscript" target="_blank">orkohunter.net/potterscript</a><br>Github - <a href="https://github.com/orkohunter/potterscript" target="_blank">orkohunter/potterscript</a><br><br><br></pre>

            </div>

            <!-- Personal Projects Right Column -->
            <div class="col s5">
                <!-- Keep -->
                <div class="p-name">Keep</div>
                <div class="p-desc">Keep and view terminal commands in terminal only</div>
                <pre class="p-links">Home  - <a href="http://orkohunter.net/keep" target="_blank">orkohunter.net/keep</a><br>Github - <a href="https://github.com/orkohunter/keep" target="_blank">orkohunter/keep</a><br><br><br></pre>

                <div class="divider"></div>

                <!-- Minesweeper -->
                <div class="p-name">minesweeper</div>
                <div class="p-desc">The game, as the name suggests</div>
                <pre class="p-links">Home  - <a href="http://orkohunter.net/minesweeper" target="_blank">orkohunter.net/minesweeper</a><br>Github - <a href="https://github.com/orkohunter/minesweeper" target="_blank">orkohunter/minesweeper</a><br><br><br></pre>

                <div class="divider"></div>

                <!-- mfdf -->
                <div class="p-name">mfdf</div>
                <div class="p-desc">My Favorite Daily Fortunes</div>
                <pre class="p-links">Home  - <a href="http://orkohunter.net/mfdf" target="_blank">orkohunter.net/mfdf</a><br>Github - <a href="https://github.com/orkohunter/mfdf" target="_blank">orkohunter/mfdf</a><br><br><br></pre>

            </div>

            <div style="height: 4px;" class="col s10 offset-s1 divider"></div>

            <!-- Organizations Left Column -->
            <div class="col s5 offset-s1">
                <!-- Morse Talk -->
                <div class="p-name">Morse Talk</div>
                <div class="p-desc">A Python library written for Morse Code</div>
                <pre class="p-links">Home  - <a href="http://orkohunter.net/morse-talk" target="_blank">orkohunter.net/morse-talk</a><br>Github - <a href="https://github.com/morse-talk/morse-talk" target="_blank">morse-talk/morse-talk</a><br><br><br></pre>
                <div class="p-contri">Author and Maintainer. Special thanks to <a href="https://github.com/scls19fr">scls19fr</a></div>
                <br>

                <div class="divider"></div>

                <!-- Stingray -->
                <div class="p-name">Stingray</div>
                <div class="p-desc">Time Series Methods For Astronomical X-ray Data That Aren't Fishy At All!</div>
                <pre class="p-links"><br>Github - <a href="https://github.com/stingraysoftware/stingray" target="_blank">stingraysoftware/stingray</a><br><br></pre>
                <div class="p-contri">Contributor as a <a href="https://summerofcode.withgoogle.com/projects/#5755858201870336" target="_blank">Google Summer of Code student</a>. <br>Mentors : <a href="https://github.com/dhuppenkothen" target="_blank">Daniela Huppenkothen</a>, <a href="https://github.com/matteobachetti target="_blank"">Matteo Bachetti</a></div>

                <div class="divider"></div>

                <!-- plot2table -->
                <div class="p-name">plot2table</div>
                <div class="p-desc">Extract plots from research papers and produce tables of data points.</div>
                <pre class="p-links"><br>Github - <a href="https://github.com/LLRHall/plot2table" target="_blank">LLRHall/plot2table</a><br><br></pre>
                <div class="p-contri">Won silver medal at Inter-hall competition at IIT Kharagpur.</div>


            </div>

            <!-- Organizations Right Column -->
            <div class="col s5">
                <!-- Networkx-Metis -->
                <div class="p-name">NetworkX-Metis</div>
                <div class="p-desc">NetworkX Addon to allow graph partitioning</div>
                <pre class="p-links">Home  - <a href="http://networkx-metis.readthedocs.org/en/latest" target="_blank">rtfd.org/networkx-metis</a><br>Github - <a href="https://github.com/networkx/networkx-metis" target="_blank">networkx/networkx-metis</a><br><br><br></pre>
                <div class="p-contri">Contributor as a <a href="https://www.google-melange.com/archive/gsoc/2015/orgs/python/projects/orkohunter.html" target="_blank">Google Summer of Code student</a>. <br>Mentors : <a href="https://github.com/ysitu" target="_blank">Yingchong Situ</a>, <a href="http://www.colgate.edu/facultysearch/facultydirectory/dschult" target="_blank">Dan Schult</a></div></pre>

                <div class="divider"></div>

                <!-- scikit-image -->
                <div class="p-name">scikit-image</div>
                <div class="p-desc">Image Processing SciKit (Toolbox for SciPy)</div>
                <pre class="p-links">Home  - <a href="http://scikit-image.org" target="_blank">scikit-image.org</a><br>Github - <a href="https://github.com/scikit-image/scikit-image" target="_blank">scikit-image/scikit-image</a><br><br><br></pre>
                <div class="p-contri">16 Pull Requests created and merged.<br></div>

        </div>

        <div class="col s1"></div>

        <div class="row" style="margin-top:250px">
            <div class="col s10 offset-s1 divider"></div>
        </div>

        <div class="row">
            <div class="col s8 offset-s5">
                <a href="https://github.com/OrkoHunter" target="_blank"><i class="fa fa-github fa-1x"></i></a>
                <a href="https://twitter.com/OrkoHunter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
                <a href="https://trakt.tv/users/orkohunter" target="_blank"><i class="fa fa-tv fa-1x"></i></a>
                <a href="mailto:himanshumishra@iitkgp.ac.in" target="_blank"><i class="fa fa-envelope-o fa-1x"></i></a>
            </div>
        </div>
    </div>

</body>
</html>


