<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>&raquo; Contact | OrkoHunter</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 head">Himanshu Mishra</div>
            <div id="tabs" class="col s10 offset-s1">
                <a class="tab" href="/">About</a>
                <a class="tab" href="/projects">Software</a>
                <a class="highlighted-tab" href="/values">Values</a>
                <a class="tab" href="/blog">Blog</a>
                <a class="tab" href="/mfdf">Fortunes</a>
                <a class="tab" href="/contact">Contact</a>
            </div>
            <div class="divider col s10 offset-s1"></div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1 doc">
                <b><a href="/values/inspirations">Inspirations</a></b>
            </div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1 divider"></div>
        </div>

        <div class="row">
            <div class="col s8 offset-s5">
                <a href="https://github.com/OrkoHunter" target="_blank"><i class="fa fa-github fa-1x"></i></a>
                <a href="https://twitter.com/OrkoHunter" target="_blank"><i class="fa fa-twitter fa-1x"></i></a>
                <a href="https://www.facebook.com/Mr.HimanshuMishra" target="_blank"><i class="fa fa-facebook fa-1x"></i></a>
                <a href="https://medium.com/@orkohunter" target="_blank"><i class="fa fa-medium fa-1x"></i></a>
                <a href="mailto:himanshumishra@iitkgp.ac.in" target="_blank"><i class="fa fa-envelope-o fa-1x"></i></a>
            </div>
        </div>
    </div>

</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/main.css')}}">
</html>
