.head {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 6px;
	font-size: 46px;
	font-weight: 200;
	margin-top: 60px;
}

.tab {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	font-weight: 300;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}

.highlighted-tab{
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	font-weight: 400;
	font-size: 14px;
	color: rgba(56, 56, 56);
}

.divider {
	margin-top: 30px;
}

.doc {
	margin-top: 50px;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
}

#archives a {
	font-size: 25px;
	color: #697E67;
	font-family: "Arial, Helvetica, sans-serif"
}


a {
	color: black;
}


i {
	margin-left: 20px;
	text-align: center;
}

.p-name {
	font-size: 24px;
	letter-spacing: 0.5px;
	padding-top: 80px;
}

.p-desc {
	font-size: 16px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.5);
}

.p-links {
	font-size: 14px;
	font-family: "Roboto";
	font-stretch: semi-expanded;
	letter-spacing: 0.5px;
}

.chip {
	color: black;
	font-weight: 400;
	background-color: #F5EFEF;
}

#month #tags {
	margin-top: 1%;
}

#month a {
	font-weight: 400;
	margin-top: 10%;
}

#bottom a {
	color: black;
	margin-left: 0%;
}

h5 {
	margin-top: 5%;
}
