@font-face {
  font-family: "Roboto-Thin";
  src: url("../../font/roboto/Roboto-Thin.ttf")  format('truetype');
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../font/roboto/Roboto-Light.ttf")  format('truetype');
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../font/roboto/Roboto-Regular.ttf")  format('truetype');
}


html {
    line-height: 1.5;
    font-family: "Roboto-Light", sans-serif;
    font-weight: normal;
}

body {
    padding-right: 14%;
    padding-left: 14%;
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75vh;  /* View port units */
}

.top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top>div {
    margin-bottom: 1.5%;
}

.head {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    font-size: 50px;
    font-weight: 200;
    font-family: "Roboto-Thin"
}

.tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-weight: normal;
    font-family: "Roboto-Regular"
}

@media screen and (max-width: 760px) {
    .tabs {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        font-weight: normal;
        font-family: "Roboto-Regular"
    }
}

.tab {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    min-width: 4em;
    text-transform: uppercase;
    font-size: 0.75em;
}

.tabs .highlighted {
    color: black;
}

p {
    font-size: 1em;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    font-family: "Roboto-Light";
}

.bottom {
    display: flex;
    flex-direction: column;
}

.bottom .projects__on__display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-family: "Roboto-Regular"
}

.bottom .projects__on__display a {
    color: brown;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

i {
    margin-left: 1.2em;
    text-align: center;
}

.divider {
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    overflow: visible;
}
