<!DOCTYPE html>

<head>
    <title>Keep : Keep and view terminal commands in terminal only</title>

    <meta charset="utf-8" />
    <meta name="description" content="A cross platform personalized ping">
    <meta name="keywords" content="keep,orkohunter,himanshu,mishra">
    <meta name="author" content="Himanshu Mishra">

    <!-- Important for typing to start just after loading -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typed.css')}}">

</head>

<body>

    <div class="row">

        <div class="col s12">&nbsp</div>
        <div align="center" style="font-size:22px;" class="col s3"><a href="/keep/" target="_blank">Keep</a></div>
        <a href="https://github.com/orkohunter/keep"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

    </div>
        <footer class="page-footer transparent">
          <div class="footer-copyright teal">
            <div align="center" class="container">
            Made with ♥ by <a style="color:rgba(255,255,255,0.8)" href="https://github.com/orkohunter" target="_blank">Himanshu Mishra<a>
            </div>
          </div>
        </footer>



    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/typed.custom.js')}}"></script>
</body>
