<!DOCTYPE html>
<html>

<head>
    <title> Analyze dependencies of a python package </title>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/odometer.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/odometer-theme-default.css')}}" />
    <script type="text/javascript">
    setTimeout(function(){
      $('.odometer').html({{ data.no_of_packages }});
    }, 1000);
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('#bar').hide();
            $('.modal-trigger').leanModal();
        });
        $(document).ready(function() {
            $('#package_name').keypress(function(e) {
                if (e.keyCode == 13)
                    $('#submit').click();
            });
            $('#package_name').on({
                keydown: function(e) {
                    if (e.which == 32)
                        return false;
                }
            });
            $('#submit').click(function(e) {
                // This is stupid, IK. But using `if !()` produces a bug in progress bar.
                if ($('#package_name').val()=="") {}
                else {
                    $('#bar').show();
                    location.href="/depends/" + $('#package_name').val();
                }
            });
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        .input-field {
            display: inline-block;
        }
    </style>
</head>

<body>
    <a href="https://github.com/orkohunter/depends" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <div class="row">
        <br>
        <div align="center" style="font-size:22px;" class="col s3"><a href="/">Home</a></div>
        <br>
        <div class="col s12">
            <h3 style="text-align: center;">Analyze dependencies of a Python package</h3>
        </div>
        <div style="margin-top: 18%;">
            <div class="input-field col s2 offset-s5">
                <input placeholder="e.g. networkx" type="text" id="package_name" autofocus>
            </div>
            <div class="col s5">&nbsp</div>
            <div class="btn green waves-effect waves-light" type="submit" id="submit">Go
                <i class="material-icons right">send</i>
            </div>
            <div class="col s3 offset-s5 progress" id="bar">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div style="margin-top: 18%;">
            <div class="col s9 offset-s1">
                <p><a style="color: black" href="/depends/list"><span class="odometer">0</span> packages scanned so far.</a><br>Last scanned package was <a href="/depends/{{ data.last_package }}">{{ data.last_package }}</a></p>
            </div>
            <div class="col s2" >
                <a href="#infomodal" class="btn-floating z-depth-0 modal-trigger white"><i class="material-icons tiny" style=" color: black;">help_outline</i></a>

                <div id="infomodal" class="modal">
                    <div class="modal-content">
                        <h5>How it works?</h5>
                        <p>The package is searched over https://pypi.python.org/pypi/&ltpackage_name&gt. The results are shown after it is downloaded, extracted and processed. So, make sure the link above works with the package name.</p>
                        <h5>Package not on PyPI</h5>
                        <p>If the package is not on pypi but the archive is hosted somewhere else, the link can also be provided.<br>Make sure the link ends with one of the following extensions :
                        <ol>
                        <li>egg</li>
                        <li>zip</li>
                        <li>whl</li>
                        <li>tar.gz</li>
                        </ol><br>
                        For example : https://github.com/scikit-image/scikit-image/archive/v0.12.3.zip is a valid input.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Gotcha</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85101357-1', 'auto');
      ga('send', 'pageview');
</script>
</body>
</html>
